*.log
*.aux
*.synctex.gz
*.fdb_latexmk
*DS_Store
*.sublime-project
*.sublime-workspace
*.pyc
*.ipynn_checkpoints/git
*.spyderworkspace
3_throughput/*
!3_throughput/README.md
2_multiplex/*
!2_multiplex/README.md
venv/
.ipynb_checkpoints/
1_data/ 
