*.log
*.aux
*.synctex.gz
*.fdb_latexmk
*DS_Store
*.sublime-project
*.sublime-workspace
*.pyc
*.ipynn_checkpoints/git
*.spyderworkspace
4_figs/*
3_throughput/*
2_multiplex/*
venv/
.ipynb_checkpoints/
1_data/ 
